<body>
	<div class="header">
		<button class="logo button icon" onclick="goHome"><icon src="assets/icons/logo.svg" alt="logo"></icon></button>
		<div class="title"></div>
		<DropDownButton class="menu hidden" buttoniconurl="assets/icons/menu.svg">
			<button class="button" onclick="goToPage|user-settings">User Settings</button>
			<button class="button logout" onclick="logout">Log Out</button>
		</DropDownButton>
	</div>
	<div class="toolbar">
		<div class="left"></div>
		<div class="right"></div>
	</div>
</body>
