/* Main UI layout. */

:root {
	--input-bg: hsl(60, 31%, 50%);
	--input-fg: hsl(196, 84%, 20%);
	--input-bg-focused: hsl(60, 100%, 80%);
	--spacing: .25rem;
	--color1: hsl(196, 84%, 20%);
	--color2: hsl(196, 61%, 32%);
	--color3: hsl(196, 59%, 38%);
	--color4: hsl(60, 31%, 50%);
	--color5: hsl(60, 51%, 64%);
	--color6: hsl(60, 100%, 80%);
	font-size: 20px;
	line-height: 1.25rem;
	font-family: 'Helvetica';
}
* {
	margin: 0;
	padding: 0;
}
.CedarDeskApp {
	margin: 0;
	height: 100dvh;
	display: grid;
	grid-template-rows: 2rem 1fr 2rem;
	grid-template-areas: "header" "page" "toolbar";
	background: var(--color2);
	color: var(--color6);
}

/** Header */

.CedarDeskApp > .header {
	grid-area: header;
	position: relative;
	display: grid;
	grid-template-columns: 2rem 1fr 2rem;
	grid-template-areas: "logo title menu";
	background: var(--color1);
	color: var(--color5);
	fill: var(--color5);
}
.CedarDeskApp > .header > .logo {
	margin: .25rem;
	grid-area: logo;
}
.CedarDeskApp > .header > .title {
	grid-area: title;
	margin: .25rem;
	font-size: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
}
.CedarDeskApp > .header > .menu {
	margin: .25rem;
	grid-area: menu;
}
.CedarDeskApp > .header > .menu > .dropDown {
	width: 100%;
	max-width: 10rem;
	right: 0;
	top: 2rem;
	border-bottom-left-radius: .25rem;
	padding: .25rem;
	background: var(--color2);
	color: var(--color5);
	fill: var(--color5);
	box-shadow: 0 0 .25rem .25rem var(--color1);
	display: flex;
	flex-direction: column;
	gap: .25rem;
}

/** Toolbar */

.CedarDeskApp > .toolbar {
	grid-area: toolbar;
	background: var(--color1);
	color: var(--color4);
	fill: var(--color4);
	padding: .25rem;
	display: flex;
}
.CedarDeskApp > .toolbar .left {
	flex-grow: 1;
}
.CedarDeskApp > .toolbar .right {
	text-align: right;
	flex-grow: 1;
}
.CedarDeskApp > .toolbar button {
	height: 1.5rem;
	vertical-align: top;
}
.CedarDeskApp > .toolbar .left button.left {
	margin-right: .25rem;
}
.CedarDeskApp > .toolbar .right button.right {
	margin-left: .25rem;
}
.CedarDeskApp > .toolbar button:active {
	background: var(--color3);
}

/** Page */

.CedarDeskApp > .Page {
	grid-area: page;
	position: relative;
	overflow: auto;
	height: 100%;
}

/** Panel. */

.panel {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: .25rem;
	background: var(--color6);
	color: var(--color1);
	overflow: auto;
	opacity: 0.8;
}
.panel.visible {
	display: block;
}
.panel.visible.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 2rem;
	line-height: 1em;
}

/** Buttons, form elements, etc. */

.input, .button {
	display: inline-block;
	border: 0;
	border-radius: var(--spacing);
	background: var(--color4);
	color: var(--color1);
	padding: calc(var(--spacing) / 2) var(--spacing);
	line-height: calc(1em + var(--spacing));
	font-family: inherit;
	font-size: 1rem;
}
.input.icon, .button.icon {
	width: 1.5rem;
	height: 1.5rem;
	flex: 0 0 auto;
}
.button.icon svg {
	width: 100%;
	height: 100%;
	stroke: var(--color1);
	fill: var(--color1);
}
.input:focus,
.button:focus,
.FormCheckbox input:focus + .check,
.FormRadioButton input:focus + .label {
	outline: .0625rem solid var(--color1);
	filter: brightness(120%);
}
.FormCheckbox {
	vertical-align: middle;
}
.FormRadioButton + .FormRadioButton {
	margin-left: .25rem;
}
.FormSelect > .dropDown {
	padding: .25rem;
}
.FormSelect > .dropDown option,
.FormMultiSelect > .dropDown option {
	padding: .125rem;
	border-radius: .25rem;
}
.FormSelect > .dropDown option.selected,
.FormMultiSelect > .dropDown option.selected {
	background: var(--color6);
}
.FormSelect > .dropDown option.highlighted,
.FormMultiSelect > .dropDown option.highlighted {
	background: var(--color5);
}
.FormList > .DragList > .item > .UserContent {
	display: grid;
	grid-template-columns: 1.5rem 1fr 1.5rem;
	column-gap: .25rem;
	margin-bottom: .25rem;
}
.FormList.noGrab > .DragList > .item > .UserContent {
	grid-template-columns: 1fr 1.5rem;
}
.FormList .item > .content {
	display: block;
}

/** FormEasy */

.FormEasy .disabled {
	opacity: 50%;
	cursor: not-allowed;
	pointer-events: none;
}

/** Popups */

.Popup > .window {
	border-radius: .5rem;
	background: var(--color2);
	color: var(--color6);
	padding: .5rem;
}
.Popup > .window > .section.message:empty {
	display: none;
}
.Popup > .window > .buttons > .button.left {
	float: left;
	margin-right: .25rem;
}
.Popup > .window > .buttons > .button.right {
	float: right;
	margin-left: .25rem;
}

/** Other Textual Styles */

h1 {
	margin-bottom: .5rem;
	min-height: 1.5rem;
	border-bottom: 1px solid var(--color6);
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 1.5rem;
}
h2 {
	margin-bottom: .5rem;
	min-height: 1.35rem;
	font-size: 1.35rem;
	font-weight: normal;
	line-height: 1.35rem;
}
h3 {
	margin-bottom: .5rem;
	min-height: 1.25rem;
	font-size: 1.25rem;
	font-weight: normal;
	line-height: 1.25rem;
}
p {
	min-height: 1.25rem;
}
:is(p, section, ol, ul) + :is(p, section, ol, ul) {
	margin-block-start: 1rem;
}
p.label + :is(p, section, ol, ul) {
	margin-block-start: .25rem;
}
span.label {
	display: inline-block;
	height: 1.5rem;
	line-height: 1.5rem;
	vertical-align: bottom;
}
span.label + * {
	vertical-align: bottom;
}
ul,
ol:not(.DragList) {
	padding-inline-start: 2rem;
}
ul li + li,
ol:not(.DragList) li + li {
	margin-block-start: .5rem;
}
a {
	color: var(--color5);
	text-decoration: none;
}
a:hover {
	color: var(--color6);
	text-decoration: underline;
}

/** Printing */

@page {
	margin: .75in;
}
@media only print {
	:root {
		font-size: 16px;
		--color1: white;
		--color2: white;
		--color3: white;
		--color4: black;
		--color5: black;
		--color6: black;
	}
	.CedarDeskApp {
		position: static;
		display: block;
	}
	.CedarDeskApp > .header {
		display: none;
	}
	.CedarDeskApp > .toolbar {
		display: none;
	}
	.CedarDeskApp > .Page {
		overflow: unset;
	}
	h1, h2, h3 {
		break-after: avoid;
	}
	li:first-child {
		break-after: avoid;
	}
	li:last-child {
		break-before: avoid;
	}
}
