.AdminPage {
	padding: .5rem;
}
.AdminPage [name="username"],
.AdminPage [name="displayName"],
.AdminPage [name="password"],
.AdminPage [name="newPassword"],
.AdminPage [name="verify"] {
	width: 8rem;
	max-width: 100%;
}
.AdminPage .FormEasy .submit {
	justify-self: start;
}
