<div>
	<section>
		<h1>List of Users</h1>
		<ul class="user-list">
		</ul>
	</section>
	<section>
		<h1>Create A New User</h1>
		<FormEasy onSubmitted="createUser" submitText="Create User">
			<section><label>
				<p class="label">Username</p>
				<p><FormInput name="username"></FormInput></p>
			</label></section>
			<section><label>
				<p class="label">Display Name</p>
				<p><FormInput name="displayName"></FormInput></p>
			</label></section>
			<section><label>
				<p class="label">Password</p>
				<p><FormInput name="password" type="password"></FormInput></p>
			</label></section>
			<section><label>
				<p><span class="label">Is Admin</span> <FormCheckbox name="admin"></FormCheckbox></p>
			</label></section>
		</FormEasy>
	</section>
	<section>
		<h1>Change A User's Password</h1>
		<FormEasy onSubmitted="changePassword" submitText="Change Password">
			<section><label>
				<p class="label">Username</p>
				<p><FormInput name="username"></FormInput></p>
			</label></section>
			<section><label>
				<p class="label">New Password</p>
				<p><FormInput name="newPassword" type="password"></FormInput></p>
			</label></section>
		</FormEasy>
	</section>
	<section>
		<h1>Change A User's Admin Status</h1>
		<FormEasy onSubmitted="changeAdmin" submitText="Change Admin Status">
			<section><label>
				<p class="label">Username</p>
				<p><FormInput name="username"></FormInput></p>
			</label></section>
			<section><label>
				<p><span class="label">Is Admin</span> <FormCheckbox name="admin"></FormCheckbox></p>
			</label></section>
		</FormEasy>
	</section>
	<section>
		<h1>Delete A User</h1>
		<FormEasy onSubmitted="deleteUser" submitText="Delete User">
			<p>NOTE: ALL INFORMATION WILL BE PERMANENTLY DELETED!</p>
			<section><label>
				<p class="label">Username</p>
				<p><FormInput name="username"></FormInput></p>
			</label></section>
			<section><label>
				<p class="label">To verify that you want to delete the user, type DELETE.</p>
				<p><FormInput name="verify"></FormInput></p>
			</label></section>
		</FormEasy>
	</section>
</div>
