<div>
	<h1>Please Login</h1>
	<FormEasy onSubmitted="login" submitText="Login">
		<section><label>
			<p class="label">Username</p>
			<p><FormInput name="username"></FormInput></p>
		</label></section>
		<section><label>
			<p class="label">Password</p>
			<p><FormInput name="password" type="password"></FormInput></p>
		</label></section>
	</FormEasy>
</div>
