.ShareablePage {
	display: grid;
	grid-template-rows: max-content 1fr;
}
.ShareablePage.notLoggedIn {
	grid-template-columns: 1fr;
	grid-template-areas: 'content';
}
.ShareablePage > .shareablePath {
	grid-area: shareablePath;
	padding: .25rem;
	line-height: 1.25rem;
	border-bottom: 1px solid var(--color6);
}
.ShareablePage > .shareablePath a {
	color: var(--color6);
	cursor: pointer;
}
.ShareablePage > .folderTree {
	margin: 0;
	padding: .25rem;
	overflow: auto;
	list-style-type: none;
}
.ShareablePage > .folderTree li::before {
	content: none;
}
.ShareablePage > .folderTree li {
	position: relative;
	display: flex;
	margin-bottom: .5rem;
	width: max-content;
	cursor: pointer;
}
.ShareablePage > .folderTree .Icon {
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	margin-right: .25rem;
}
.ShareablePage > .folderTree ol {
	margin: 0;
	padding-left: 1rem;
	list-style: none;
}
.ShareablePage > .folderTree li {
	cursor: pointer;
}
.ShareablePage > .content {
	grid-area: content;
	overflow: auto;
	padding: .25rem;
}
@media (min-width: 60rem) {
	.ShareablePage {
		grid-template-columns: 10rem 1fr;
		grid-template-areas: 'shareablePath shareablePath' 'folderTree content';
	}
	.ShareablePage > .folderTree {
		grid-area: folderTree;
		border-right: 1px solid var(--color6);
	}
	.App > .toolbar .openFolderTree {
		display: none;
	}
}
@media (max-width: 60rem) {
	.ShareablePage {
		grid-template-columns: 1fr;
		grid-template-areas: 'shareablePath' 'content';
	}
	.ShareablePage > .folderTree {
		display: none;
		border-right: 1px solid var(--color6);
		background: var(--color3);
		position: absolute;
		left: 0;
		bottom: 0;
		width: 10rem;
		height: 100%;
		z-index: 2;
	}
	.ShareablePage > .folderTree.visible {
		display: block;
	}
}
@media only print {
	.ShareablePage {
		display: block;
	}
	.ShareablePage > .folderTree {
		display: none;
	}
	.ShareablePage > .shareablePath {
		border-bottom: none;
		margin-bottom: 1rem;
	}
	.ShareablePage > .content {
		overflow: unset;
	}
}
