.UserSettingsPage {
	padding: .5rem;
}
.UserSettingsPage [name="displayName"],
.UserSettingsPage [name="oldPassword"],
.UserSettingsPage [name="newPassword"],
.UserSettingsPage [name="newPasswordAgain"],
.UserSettingsPage [name="password"],
.UserSettingsPage [name="verify"] {
	width: 8rem;
	max-width: 100%;
}
.UserSettingsPage .FormEasy .submit {
	justify-self: start;
}
