<div>
	<section class="changeDisplayName">
		<h1>Change Your Display Name</h1>
		<FormEasy onSubmitted="changeDisplayName" submitText="Save">
			<section><label>
				<p class="label">Display Name</p>
				<p><FormInput name="displayName"></FormInput></p>
			</label></section>
		</FormEasy>
	</section>
	<section>
		<h1>Change Your Password</h1>
		<FormEasy onSubmitted="changePassword" submitText="Save">
			<section><label>
				<p class="label">Old Password</p>
				<p><FormInput name="oldPassword" type="password"></FormInput></p>
			</label></section>
			<section><label>
				<p class="label">New Password</p>
				<p><FormInput name="newPassword" type="password"></FormInput></p>
			</label></section>
			<section><label>
				<p class="label">New Password Again</p>
				<p><FormInput name="newPasswordAgain" type="password"></FormInput></p>
			</label></section>
		</FormEasy>
	</section>
	<section>
		<h1>Delete Yourself</h1>
		<FormEasy onSubmitted="deleteUser" submitText="Delete Yourself">
			<p>NOTE: ALL INFORMATION WILL BE PERMANENTLY DELETED!</p>
			<section><label>
				<p class="label">Password</p>
				<p><FormInput name="password" type="password"></FormInput></p>
			</label></section>
			<section><label>
				<p class="label">To verify that you want to delete yourself, type DELETE.</p>
				<p><FormInput name="verify"></FormInput></p>
			</label></section>
		</FormEasy>
	</section>
</div>
