.CheckListEdit > .items {
	min-height: calc(100% - .5rem);
}
.CheckListEdit > .HierarchyDragList {
	margin: 0 0 50vh 0;
	padding: 0;
}
.CheckListEdit > .HierarchyDragList .UserContent {
	margin: 0;
	max-width: 40rem;
	display: flex;
	flex-direction: row;
	gap: .25rem;
	transition: height .25s, transform .25s, margin-left .25s, padding .25s, opacity .25s;
	padding: 0 0 .25rem 0;
}
.CheckListEdit li::before {
	content: none;
}
/* Make the checked items a bit more faded. */
.CheckListEdit .HierarchyDragList .UserContent.checked {
	filter: contrast(70%) brightness(85%);
}
.CheckListEdit .FormTextArea {
	vertical-align: top;
	width: calc(100% - 5.25rem);
}
.CheckListEdit .grab.hidden ~ .FormTextArea {
	width: calc(100% - 3.5rem);
}
