.Folder .entry {
	position: relative;
	display: flex;
	margin-bottom: .5rem;
	width: max-content;
	cursor: pointer;
	user-select: none;
}
.Folder .entry .Icon {
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	margin-right: .25rem;
}
.Folder .entry .Icon.link {
	position: absolute;
	top: 0.55rem;
	left: 0.75rem;
	width: .75rem;
	height: .75rem;
}
.Folder .entry .Icon.star {
	position: absolute;
	top: 0.65rem;
	left: -0.15rem;
	width: .75rem;
	height: .75rem;
}
.Folder .entry .file {
	display: inline-block;
}
.Folder .entry.disabled {
	color: var(--color4);
	pointer-events: none;
}

/** Highlighting */
.Folder .entry.highlighted {
	animation: highlight 200ms infinite alternate;
}
@keyframes highlight {
  0% {
		scale: 100%;
  }
  100% {
		scale: 120%;
  }
}

/** Popups */
.Popup.folder .window {
	max-width: 95vw;
	max-height: 95vh;
}
.Popup.folder.create .FormSelect,
.Popup.folder.create .FormInput {
	display: inline-block;
	width: 100%;
}
.Popup.folder .window {
	width: 30rem;
}
.Popup.folder.create .window {
	width: 15rem;
}
.Popup.folder.share .FormList {
	width: 18rem;
}
.Popup.folder.share .FormSelect {
	width: 8rem;
	display: inline-block;
}
.Popup.folder.share .FormSelect + .FormSelect {
	margin-left: .25rem;
}
