<div>
	<FormEasy onSubmitted="save" submitText="Save">
		<label class="entry description">
			<div>Description</div>
			<FormTextArea name="description" onChanged="inputChanged"></FormTextArea>
		</label>
		<div class="entry makes">
			<div>Makes</div>
			<div class="makesGrid">
				<FormInput name="makesAmount" type="number" onChanged="inputChanged" placeholder="4"></FormInput>
				<FormInput name="makesUnit" onChanged="inputChanged" placeholder="servings"></FormInput>
			</div>
		</div>
		<div class="entry tools">
			<div>Tools</div>
			<FormList>
				<FormTextArea name="tools[+]" aria-label="tool" onChanged="inputChanged"></FormTextArea>
			</FormList>
		</div>
		<div class="entry ingredients">
			<div>Ingredients</div>
			<FormList>
				<FormInput class="amount" name="ingredients[+].amount" aria-label="amount" placeholder="2" onChanged="inputChanged" autocomplete="off"></FormInput>
				<FormInput class="unit" name="ingredients[].unit" aria-label="unit" placeholder="kg" onChanged="inputChanged"></FormInput>
				<FormTextArea class="text" name="ingredients[].text" aria-label="text" placeholder="cheese" onChanged="inputChanged" autocomplete="off"></FormTextArea>
				<button class="button icon" onclick="makeHeading|ingredients"><icon src="assets/icons/heading.svg" alt="Make heading"></icon></button>
			</FormList>
		</div>
		<div class="entry steps">
			<div>Steps</div>
			<FormList>
				<FormTextArea name="steps[+].text" onChanged="inputChanged"></FormTextArea>
				<button class="button icon" onclick="makeHeading|steps"><icon src="assets/icons/heading.svg" alt="Make heading"></icon></button>
			</FormList>
		</div>
		<div class="entry notes">
			<div>Notes</div>
			<FormList>
				<FormTextArea name="notes[+].text" onchanged="inputChanged"></FormTextArea>
				<button class="button icon" onclick="makeHeading|notes"><icon src="assets/icons/heading.svg" alt="Make heading"></icon></button>
			</FormList>
		</div>
		<div class="entry images">
			<div>Images</div>
			<FormList>
				<FormInput name="images[+].file" type="file" onChanged="imageInputChanged"></FormInput>
				<div class="ready hidden"></div>
				<FormTextArea name="images[].caption" autocomplete="off"></FormTextArea>
			</FormList>
		</div>
	</FormEasy>
</div>
