.RecipeView h2 {
	margin: .5rem 0;
}
.RecipeView .description {
	word-wrap: break-word;
}
.RecipeView button.tag {
	margin-left: .25rem;
	margin-top: 1rem;
	cursor: auto;
}
.RecipeView img {
	margin-top: 1rem;
}
.RecipeView .image {
	display: inline-block;
	margin-left: .25rem;
	vertical-align: top;
	width: 30%;
	max-width: 15rem;
	cursor: pointer;
}
.RecipeView .image img {
	width: 100%;
	border-radius: .25rem;
}
.RecipeView .image + .image {
	margin-left: 1rem;
}
.RecipeView .caption {
	text-align: center;
}
.recipeViewImage.Popup img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: calc(100% - 2rem);
	border-radius: .25rem;
}
.recipeViewImage.Popup .caption {
	margin: 0;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
}
