.RecipeEdit .FormEasy {
	max-width: 30rem;
}
.RecipeEdit .FormEasy .entries .entry,
.RecipeEdit .FormEasy .buttons {
	grid-template-columns: 5rem 1fr;
}
@media (max-width: 60rem) {
	.RecipeEdit .FormEasy .entries .entry {
		display: block;
	}
}
.RecipeEdit [name="heading"] {
	font-size: 1.5rem;
	height: 2rem;
}
.RecipeEdit [name="name"] {
	width: 100%;
	max-width: 30rem;
}
.RecipeEdit [name="description"] {
	width: 100%;
	max-width: 30rem;
}
.RecipeEdit .makesGrid {
	display: grid;
	grid-template-columns: 3rem 10rem;
	column-gap: .25rem;
}
.RecipeEdit .tools .content {
	display: grid;
	grid-template-columns: 1fr;
}
.RecipeEdit .ingredients .content {
	display: grid;
	grid-template-columns: 2rem 3rem 1fr 1.5rem;
	column-gap: .25rem;
}
.RecipeEdit .ingredients [name="ingredients[+].heading"] {
	grid-column: 1 / 5;
}
.RecipeEdit .steps .content,
.RecipeEdit .notes .content {
	display: grid;
	grid-template-columns: 1fr 1.5rem;
	column-gap: .25rem;
}
.RecipeEdit .steps [name="steps[+].heading"],
.RecipeEdit .notes [name="notes[+].heading"] {
	grid-column: 1 / 3;
}
.RecipeEdit .images .content {
	display: grid;
	grid-template-columns: 6rem 1fr;
	column-gap: .25rem;
}
.RecipeEdit .images img {
	border-radius: .25rem;
	width: 100%;
}
.RecipeEdit .images .ready {
	text-align: center;
}
.RecipeEdit [name="images"] .ready.hidden {
	display: none;
}
.RecipeEdit .popup button + button {
	margin-left: .25rem;
}
.RecipeEdit .popup .buttons {
	text-align: right;
}
