<div>
	<section>
		<h1>Description</h1>
		<p class="description"></p>
	</section>
	<section>
		<p class="makes">Makes <span class="makesAmount"></span> <span class="makesUnit"></span>.</p>
	</section>
	<section>
		<h1 class="tools">Tools</h1>
	</section>
	<section>
		<h1 class="ingredients">Ingredients</h1>
	</section>
	<section>
		<h1 class="steps">Steps</h1>
	</section>
	<section>
		<h1 class="notes">Notes</h1>
	</section>
	<section>
		<h1 class="images">Images</h1>
	</section>
</div>
